antiorm==1.2.1
arch==4.14
asgiref==3.2.7
atomicwrites==1.4.0
attrs==19.3.0
BaseModel==20200506.1116
bson==0.5.7
cffi==1.14.0
Click==7.0
colorama==0.4.3
cycler==0.10.0
Cython==0.29.17
db==0.1.1
Django==3.1.9
factor-analyzer==0.3.2
Flask==1.0.2
Flask-PyMongo==2.2.0
Flask-Script==2.0.6
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.3
importlib-metadata==1.6.0
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
more-itertools==8.2.0
mysqlclient==1.4.6
nodejs==0.1.1
npm==0.1.1
numpy==1.16.1
optional-django==0.1.0
packaging==20.3
pandas==0.23.4
patsy==0.5.1
Pillow==5.4.1
pluggy==0.13.1
property-cached==1.6.4
py==1.8.1
pycparser==2.20
pymongo==3.7.2
pyparsing==2.3.0
pytest==5.4.1
python-dateutil==2.7.5
pytz==2018.7
redis==3.0.1
rpy2==3.3.2
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
SQLAlchemy==1.2.15
sqlparse==0.3.1
statsmodels==0.11.1
tzlocal==2.0.0
vue==0.0.1
wcwidth==0.1.9
Werkzeug==0.14.1
WTForms==2.2.1
xlrd==1.2.0
zipp==3.1.0
