{% extends "base.html" %}
{% block title %}描述性分析图{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data_import.css') }}">
    <style>
        .el-form-item {
            margin-bottom: 0px;
        }
        .el-input--mini .el-input__inner {
            height: 32px;
            line-height: 32px;
        }
        .text {
            font-size: 14px;
        }
        .item {
            margin-bottom: 18px;
        }
        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        .clearfix:after {
            clear: both
        }
        .el-form > .el-form-item > .el-form-item__label {
            width: 100px;
        }
        .el-dialog {
            width: 90%;
        }
    </style>
{% endblock %}
{% block custom_content %}
    <el-card style="min-height: 500px">
        <el-card style="margin-bottom: 15px">
            <template>
                <div>
                    <div>
                        <el-form :inline="true" style="margin-left: 10px">
                             <el-form-item label="数据集名称" size="mini" style="margin-left: 10px">
                                 <el-select v-model="dataFileName" @change="checkDataName" placeholder="请选择" size="small">
                                     <el-option v-for="item in fileNames" :value="item"></el-option>
                                 </el-select>
                             </el-form-item>
                             <el-button @click="cb" size="mini" style="margin-left: 60%">数据集展开</el-button>
                         </el-form>
                    </div>


                    <hr>
                    <el-collapse-transition>
                        <div v-if="show" style="padding: 1px 1px;background-color: #8fbbff">
                            <el-alert :title="numAlter" type="info" :closable="false"></el-alert>
                            <el-table :data="tableData" border style="width: 100%">
                                <template v-for="col in fileFeatureOptions">
                                    <el-table-column :prop="col" :label="col" :min-width="basicColsWidths[col]"></el-table-column>
                                </template>
                            </el-table>
                        </div>
                    </el-collapse-transition>


                </div>
            </template>


            <el-form style="margin-top: 10px;margin-left:2%">
                <el-form-item label="选择字段:" >
                    <template v-if="tableData.length>0 && (name==21 || name==22 || name==23)">
                        <el-checkbox-group v-model="dataFileFeature1" style="margin-right: 10px;margin-left: 10px" :max="1">
                            <el-checkbox v-for="featureOption in fileFeatureOptions" :label="featureOption" :key="featureOption">{{featureOption}}</el-checkbox>
                        </el-checkbox-group>
                    </template>
                    <template v-if="tableData.length>0 && (name==24)">
                        <el-checkbox-group v-model="dataFileFeature2" :max="2">
                            <el-checkbox v-for="featureOption in fileFeatureOptions" :label="featureOption" :key="featureOption">{{featureOption}}</el-checkbox>
                        </el-checkbox-group>
                    </template>
                    <template v-if="tableData.length>0 && (name==25)">
                        <el-checkbox-group v-model="dataFileFeatures" @change="handleCheckedCitiesChange">
                            <el-checkbox v-for="featureOption in fileFeatureOptions" :label="featureOption" :key="featureOption">{{featureOption}}</el-checkbox>
                            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
                        </el-checkbox-group>
                    </template>
                </el-form-item>
            </el-form>


            <el-form>
                <el-form-item align="right" style="margin-bottom: 1px">
                    <el-button type="primary" @click="computeResult" style="margin-right: 60px" size="small">绘图</el-button>
                </el-form-item>
            </el-form>


        </el-card>
        <el-form style="margin-top: 20px">
                <el-card style="min-height: 300px">
                    <el-form-item label="结果："></el-form-item>
                    <div style="margin-left: 40px;width: 700px;height: 400px;border: 1px solid #2f3a50;display:inline-block" >
                        <div class="block" id="container" style="width: 666px;height:400px;margin-left:5%"></div>
                    </div>
                    <el-card class="box-card" style="width: 350px;float:right;margin-right:1%;display:inline-block" v-if="updateSignal">
                        <div slot="header"  class="clearfix">
                            <span>图片参数</span>
                            <el-button type="success" @click="pictureExport" style="float: right; margin-right: 20px" size="small">导出</el-button>
                            <el-button type="primary" size="small" @click="pictureModify" style="float: right; margin-right: 20px; background-color: #35775b" type="text">修改</el-button>
                        </div>
                        <div>
                            <el-form-item label="图片标题:" size="mini">
                                <el-input placeholder="请输入参数" style="width:220px" v-model="titleName"></el-input>
                            </el-form-item>
                            <el-form-item label="X轴标签:" size="mini">
                                <el-input placeholder="请输入参数" style="width:150px" v-model="XLabelName"></el-input>
                            </el-form-item>
                            <el-form-item label="Y轴标签:" size="mini">
                                <el-input placeholder="请输入参数" style="width:150px" v-model="YLabelName"></el-input>
                            </el-form-item>
                        </div>
                    </el-card>
                </el-card>
        </el-form>


    </el-card>
{% endblock %}
{% block custom_js %}


    <script src="{{ url_for('static', filename='node_modules/echarts/dist/echarts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/echarts/dist/extension/dataTool.js')}}"></script>

    <script>

        let newData = JSON.parse(JSON.stringify(commonData));
        newData.name={{ name }};
        newData.defaultActive='3';
        newData.breadcrumbOptionsPlus={
            "21":'图分析',
            "22":'图分析',
            "23":'图分析',
            "24":'图分析',
            "25":'图分析',
        };
        newData.breadcrumbOptions={
            "21":'折线图',
            "22":'柱状图',
            "23":'饼图',
            "24":'散点图',
            "25":'箱线图',
        };
        newData.fileName='';
        newData.fileNames=[];
        newData.dataFileName='';
        newData.flag=false;
        newData.updateSignal=false;
        newData.fullscreenLoading=false;
        newData.fileFeatureOptions=[];
        newData.fileNameOptions=[];
        newData.dataFile='';
        newData.dataFileFeature1=[];
        newData.dataFileFeature2=[];
        newData.dataFileFeatures=[];
        newData.loading=false;
        newData.plotList=[];
        newData.statusPlot=[];
        newData.screenImgUrl=[];
        newData.result_data=[];
        newData.chartVisible=false;
        newData.featureX=[];
        newData.featureHight=[];
        newData.titleName='';
        newData.XLabelName='';
        newData.YLabelName='';
        newData.activeNames=[];
        newData.tableData=[];
        newData.basicColsWidths=[];
        newData.checkAll=false;
        newData.isIndeterminate=true;
        newData.numAlter='预览前10行';
        newData.show=false;

        let newComputed = Object.assign({},commonComputed);
        newComputed.breadcrumbs=function(){
            if(this.name){
                return ['描述性统计', this.breadcrumbOptionsPlus[this.name], this.breadcrumbOptions[this.name]];
            }else{
                return ['描述性统计'];
            }
        };


        let newMethods = Object.assign({},commonMethods);
        newMethods.cb=function() {
            this.show = !this.show;
        };


        newMethods.checkDataName=function() {
            this.dataFileFeature1=[];
            this.dataFileFeature2=[];
            this.dataFileFeatures=[];
            let $this = this;


<!-- 选择数据 -->
            $.ajax({
                url: '/import_description/data/selectdata/',
                data: {
                    'file_name': $this.dataFileName,
                },
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    $this.fileFeatureOptions = data.file_features;
                    $this.tableData = data.data;
                },
                error: function () {
                    $this.loading = false;
                    $this.$message.error('服务器有异常，请稍后重试');
                }
            });


        };
        newMethods.handleCheckAllChange=function(val) {
            this.dataFileFeatures = val ? this.fileFeatureOptions : [];
            this.isIndeterminate = false;
        };


        newMethods.handleCheckedCitiesChange=function(value) {
            let checkedCount = value.length;
            this.checkAll = checkedCount === this.fileFeatureOptions.length;
            this.isIndeterminate = checkedCount > 0 && checkedCount < this.fileFeatureOptions.length;
        };


        newMethods.pictureExport=function(){
            var mycanvas = $("#container").find("canvas")[0];

            var image = mycanvas.toDataURL("image/png");

            var $a = document.createElement('a');
            $a.setAttribute("href", image);
            $a.setAttribute("download", "");
            $a.click();
        };


        newMethods.pictureModify=function() {
             this.computeResult();
        };


        newMethods.handleChange=function() {

        };


        newMethods.handleChangeData=function(){

        };


        newMethods.computeResult=function() {
            const loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });
            setTimeout(() => {
                loading.close();
            }, 500);
            let $this = this;

<!-- 绘图 -->
            $.ajax({
                url: '/import_description/data/compute/plot/',
                data: {
                    'file_name': $this.dataFileName,
                    'file_method': $this.name,
                    'file_feature1': $this.dataFileFeature1,
                    'file_feature2': $this.dataFileFeature2,
                    'file_features': $this.dataFileFeatures,
                },
                method: 'post',
                dataType: 'json',
                success: function (data) {
                        $this.result_data = data.result_data;
                        if ($this.name === 21) {
                            $this.searchChartPolyLine($this.result_data, $this.titleName, $this.XLabelName, $this.YLabelName)
                        }else if ($this.name === 22) {
                            $this.searchChartColumnar($this.result_data, $this.titleName, $this.XLabelName, $this.YLabelName)
                        }else if ($this.name === 23) {
                            $this.searchChartPie($this.result_data, $this.titleName, $this.XLabelName, $this.YLabelName)
                        }else if ($this.name === 24) {
                            $this.searchChartScatter($this.result_data, $this.titleName, $this.XLabelName, $this.YLabelName)
                        }else if ($this.name === 25) {
                            $this.searchChartBox($this.result_data, $this.titleName, $this.XLabelName, $this.YLabelName)
                        }
                        if (data.status === 1){
                            $this.updateSignal =true;
                        }
                },
                error: function () {
                    $this.loading = false;
                    $this.$message.error('请输入正确的参数！');
                }
            });


        };
        newMethods.searchChartPolyLine=function(data, title, Xlabel, Ylabel){
            var myChart = echarts.init(document.getElementById('container'));
            option = {
                title: {
                    left: 'center',
                    text: title,
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                xAxis: {
                    type: 'category',
                    data: data
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: data,
                    type: 'line'
                }]
            };
            myChart.setOption(option);
        };


        newMethods.searchChartColumnar=function(data, title, Xlabel, Ylabel){
            var myChart = echarts.init(document.getElementById('container'));
            option = {
                title: {
                    left: 'center',
                    text: title,
                },
                xAxis: {
                    type: 'value',
                    data:data,
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    type: 'bar',
                    data: data,
                }]
            };
            myChart.setOption(option);
        };


        newMethods.searchChartPie=function(data, title, Xlabel, Ylabel){
            var myChart = echarts.init(document.getElementById('container'));
            option = {
                title : {
                    text: '某站点用户访问来源',
                    subtext: '纯属虚构',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
                },
                series : [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:335, name:'直接访问'},
                            {value:310, name:'邮件营销'},
                            {value:234, name:'联盟广告'},
                            {value:135, name:'视频广告'},
                            {value:1548, name:'搜索引擎'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            myChart.setOption(option);
        };


        newMethods.searchChartScatter=function(data, title, Xlabel, Ylabel){
            var myChart = echarts.init(document.getElementById('container'));
            option = {
                title: {
                    left: 'center',
                    text: title,
                },
                xAxis: {},
                yAxis: {},
                series: [{
                    symbolSize: 20,
                    data:data,
                    // {#data: [#}
                    // {#    [10.0, 8.04],#}
                    // {#    [8.0, 6.95],#}
                    // {#    [13.0, 7.58],#}
                    // {#    [9.0, 8.81],#}
                    // {#    [11.0, 8.33],#}
                    // {#    [14.0, 9.96],#}
                    // {#    [6.0, 7.24],#}
                    // {#    [4.0, 4.26],#}
                    // {#    [12.0, 10.84],#}
                    // {#    [7.0, 4.82],#}
                    // {#    [5.0, 5.68]#}
                    // {#],#}
                    type: 'scatter'
                }]
            };
            myChart.setOption(option);
        };


        newMethods.searchChartBox=function(data, title, Xlabel, Ylabel){
            var myChart = echarts.init(document.getElementById('container'));
            var data = echarts.dataTool.prepareBoxplotData(data);
            // {#var data = echarts.dataTool.prepareBoxplotData([#}
            // {#    [850, 740, 900, 1070, 930, 850, 950, 980, 980, 880, 1000, 980, 930, 650, 760, 810, 1000, 1000, 960, 960],#}
            // {#    [960, 940, 960, 940, 880, 800, 850, 880, 900, 840, 830, 790, 810, 880, 880, 830, 800, 790, 760, 800],#}
            // {#    [880, 880, 880, 860, 720, 720, 620, 860, 970, 950, 880, 910, 850, 870, 840, 840, 850, 840, 840, 840],#}
            // {#    [890, 810, 810, 820, 800, 770, 760, 740, 750, 760, 910, 920, 890, 860, 880, 720, 840, 850, 850, 780],#}
            // {#    [890, 840, 780, 810, 760, 810, 790, 810, 820, 850, 870, 870, 810, 740, 810, 940, 950, 800, 810, 870]#}
            // {#]);#}
            option = {
                title: [
                    {
                        text: title,
                        left: 'center',
                    },

                ],
                tooltip: {
                    trigger: 'item',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: '10%',
                    right: '10%',
                    bottom: '15%'
                },
                xAxis: {
                    type: 'category',
                    data: data.axisData,
                    boundaryGap: true,
                    nameGap: 30,
                    splitArea: {
                        show: false
                    },
                    axisLabel: {
                        formatter: 'expr {value}'
                    },
                    splitLine: {
                        show: false
                    }
                },
                yAxis: {
                    type: 'value',
                    name: '',
                    splitArea: {
                        show: true
                    }
                },
                series: [
                    {
                        name: 'boxplot',
                        type: 'boxplot',
                        data: data.boxData,
                        tooltip: {
                            formatter: function (param) {
                                return [
                                    'Experiment ' + param.name + ': ',
                                    'upper: ' + param.data[5],
                                    'Q3: ' + param.data[4],
                                    'median: ' + param.data[3],
                                    'Q1: ' + param.data[2],
                                    'lower: ' + param.data[1]
                                ].join('<br/>');
                            }
                        }
                    },
                    {
                        name: 'outlier',
                        type: 'scatter',
                        data: data.outliers
                    }
                ]
            };
            myChart.setOption(option);
        };


        newMethods.init=function() {
            let $this = this;

<!--   -->
            $.ajax({
                url: '/import/data/init/',
                method: 'post',
                success: function (data) {
                    if (data.status) {
                        $this.fileNames = data.file_names;
                    } else {
                        return false
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $this.$message.error('服务器有异常，请稍后重试');
                    return false
                },
            })
        }


        var vm = new Vue({
            el: '#app',
            data: function () {
                return newData;
            },
            computed:newComputed,
            methods:newMethods,
        });

        $(function () {
            vm.initLocalUserMenus(vm);
            vm.initUserMenus(vm);
            vm.init();
        });
    </script>
{% endblock %}