{% extends "base.html" %}
{% block title %}修改密码{% endblock %}
{% block custom_css %}
{% endblock %}
{% block header_js %}
{% endblock %}
{% block custom_content %}
    <el-card class="main-card" style="margin: 0">
        <el-form size="mini" :model="resetForm" ref="resetForm" :rules="resetFormRules" label-width="100px">
            <el-form-item label="原密码:" size="mini" prop="password">
                <el-input type="password" v-model="resetForm.password" placeholder="原密码" style="width:220px"></el-input>
            </el-form-item>
            <el-form-item label="新密码:" size="mini" prop="newPassword">
                <el-input type="password" v-model="resetForm.newPassword" placeholder="新密码" style="width:220px"></el-input>
            </el-form-item>
            <el-form-item label="确认密码:" size="mini" prop="surePassword">
                <el-input type="password" v-model="resetForm.surePassword" placeholder="确认密码" style="width:220px"></el-input>
            </el-form-item>
            <el-form-item label="" size="mini">
                <el-button type="primary" @click="resetPassword">修改</el-button>
            </el-form-item>
        </el-form>
    </el-card>
{% endblock %}
{% block custom_js %}
<script>

    let restSureValidator = function (rule, value, callback) {
        if (value && vm.resetForm.newPassword != vm.resetForm.surePassword) {
            callback(new Error('两次输入密码不相同'));
        } else {
            callback();
        }
    };
    let restNewPassValidator = function (rule, value, callback) {
        if (value && vm.resetForm.surePassword && vm.resetForm.newPassword != vm.resetForm.surePassword) {
            callback(new Error('两次输入密码不相同'));
        } else {
            callback();
        }
    };

    let newData = JSON.parse(JSON.stringify(commonData));
    newData.defaultActive='1';
    newData.breadcrumbs=['个人中心','修改密码'];
    newData.menuTypes=[{'id':1, 'name':'目录'},{'id':2, 'name':'页面'}];
    newData.resetForm={password: '', newPassword: '', surePassword: ''};
    newData.resetFormRules={
        password: [
            { required: true, message: '请输入原密码', trigger: ['blur','change'] },
            { min: 6, message: '至少6位', trigger: ['blur','change'] }
        ],
        newPassword: [
            { required: true, message: '请输入新密码', trigger: ['blur','change'] },
            { min: 6, message: '至少6位', trigger: ['blur','change'] },
            ],
        surePassword: [
            { required: true, message: '请输入确认密码', trigger: ['blur','change'] },
            { min: 6, message: '至少6位', trigger: ['blur','change'] },
            { validator: restSureValidator, trigger: ['blur','change'] }],
    };

    let newMethods = Object.assign({},commonMethods);
    newMethods.searchMenus=function(pageNum){
        var $this = this;
        $.ajax({
            url:'/system/menu/menus/',
            data:{
                'name':$this.defaultSearchForm.name,
                'parentId':$this.defaultSearchForm.parentId,
                'pageNum':pageNum
            },
            method:'post',
            success:function (data) {
                if(data.status){
                    $this.tableData = data.data;
                    $this.total = data.total;
                }else{
                    handleError(data, $this);
                }
            },
            error:function (jqXHR, textStatus, errorThrown) {
                $this.$message.error('服务器有异常，请稍后重试');
            }
        });
    };
    newMethods.resetPassword=function(){
        var $this = this;
        this.$refs['resetForm'].validate(function(valid){
            if (valid) {
                $.ajax({
                    url:'/password/reset/',
                    data:$this.resetForm,
                    method:'post',
                    success:function (data) {
                        if(data.status){
                            $this.$message.success('修改成功');
                        }else{
                            handleError(data, $this);
                        }
                    },
                    error:function (jqXHR, textStatus, errorThrown) {
                        $this.$message.error('服务器有异常，请稍后重试');
                    }
                });

            }else{
                return false;
            }
        });
    };


	var vm = new Vue({
		el: '#app',
		data: function () {

			return newData;
		},
		methods: newMethods
	});
	$(function () {
		vm.initLocalUserMenus(vm);
		vm.initUserMenus(vm);
	});
</script>
{% endblock %}
